# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
venvapp/
env/
ENV/
*.egg-info/
dist/
build/

# Streamlit
.streamlit/secrets.toml
**/secrets.toml
**/.streamlit/secrets.toml

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Uploaded files
AI-Resume-Analyzer/App/Uploaded_Resumes/*.pdf

# Logs
*.log
